
RELOAD_RAG_DATA=false

#################################

##GEMINI
LLM_PROVIDER=google
EMBEDDING_PROVIDER=google
GOOGLE_EMBEDDING_MODEL=models/text-embedding-004
GOOGLE_MODEL=gemini-2.5-flash-lite
GOOGLE_API_KEY= 

########################################

##Open AI
LLM_PROVIDER=openai
EMBEDDING_PROVIDER=openai
OPENAI_MODEL=gpt-4.1-nano
OPENAI_EMBEDDING_MODEL=text-embedding-3-large
OPENAI_API_KEY=